.extra_w {
	width: 25% !important;
	margin: 0 auto;
}

.extra_c {
	width: 60%;
}

.p {
	margin-top: 1px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

.input_extra {
    width: 193% !important;
    margin-left: 5px;
}

@media (max-width: 1024px) {
	.extra_c{
    	width: 95%;
	}

	.input_extra {
	    width: 192% !important;
	}

}

@media (max-width: 768px){
	.input_extra {
   		 width: 191.2% !important;
   		 margin-left: 4px;
	}
}

@media  (min-width: 569px) and (max-width: 736px) {
	.input_extra {
	    width: 95% !important;
	    margin-left: 0px;
	}
}

@media (max-width: 568px) {
	.extra_w {
    	width: 100% !important;
   		float: none;
    	margin-bottom: 25px;
	}

	.input_extra {
	    width: 95% !important;
	    margin-left: 0px;
	}
}

